%tr
  %td
    = vendor.name
  %td
    = link_to 'Edit', edit_vendor_path(vendor), class: 'btn btn-sm btn-outline-secondary'
    = link_to 'Delete', vendor_path(vendor), class: 'btn btn-sm btn-outline-danger',
      data: {method: :delete, confirm: "Are you sure?"}
