.container.text-center
  %h1.display-5.text-secondary.mb-5 Vendors

.container
  = pagination @pagy

.container-xl.my-4
  .row.justify-content-center.g-5

    .col-sm-12.col-md-auto
      %table.table.mx-auto
        %tr
          %th Name
          %th Actions
        = render @vendors
        
    .col-sm-6.col-md-4.text-center.my-md-auto
      %article.card.border-0.shadow.py-3
        .card-body
          = render 'form'
            
.container
  = pagination @pagy
