.container.text-center
  %h1.display-5.text-secondary.mb-5 Adapters

.container
  = pagination(@pagy)
    
.container-xl
  .row.justify-content-center
    = render @adapters

.container.mt-3
  = pagination(@pagy)
